# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:convex-slug-000 # team: sbkl, project: sbkl-turborepo

CONVEX_URL=https://convex-slug-000.convex.cloud

CONVEX_SITE_URL=https://convex-slug-000.convex.site

NEXT_PUBLIC_CONVEX_URL=https://convex-slug-000.convex.cloud

# WorkOS AuthKit credentials
WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""
WORKOS_COOKIE_PASSWORD=""
NEXT_PUBLIC_WORKOS_REDIRECT_URI="http://localhost:3000/callback"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
